<footer class="site-footer">
    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <p class="text">{{ site.description }}</p>
            </div>
            <div class="footer-col footer-col-2">
                <p>For use in the Chardenfell campaign</a>.</p>
            </div>
            <div class="footer-col footer-col-3">
                <p>Shamelessly stolen and updated for 2024 from this <a href="{{ site.source-url }}" target="_blank">Github</a>.</p>
            </div>
        </div>
        <div class="footer-top-link"><a href="#top">Back to top &#8593;</a></div>
    </div>
</footer>
